@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
}

/*header*/

header {
    padding: 40px 4%;
    background-color: black;
}

header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-logo img {
    width: 200px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    margin-right: 1em;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 0;
}

.botao-inicio button a {
    text-decoration: none;
    color: #2C59AD;
}

.botao-inicio button:hover {
    color: white;
    background-color: #2C59AD;
    cursor: pointer;
    transform: scale(1.05);
}

.botao-inicio button a:hover {
    color: white;
}

/*header*/

section .banner-incial {
    padding: 40px 4%;
}

.img-banner-pc img {
    width: 100%;
    height: 650px;
}

/*footer*/

footer {
    padding: 40px 0%;
    background-color: black;
}

footer .flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu-footer ul li {
    list-style-type: none;
    text-decoration: none;
    margin-right: 1em;
}

.menu-footer ul li a {
    text-decoration: none;
    color: white;
}

footer hr {
    margin: 50px;
}

footer p {
    color: white;
    margin: 20px;
}