@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
}

/*header*/

header {
    padding: 40px 4%;
    background-color: black;
}

header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-logo a img {
    width: 200px;
}

.img-logo a img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    margin-right: 1em;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 0;
}

.botao-inicio button a {
    text-decoration: none;
    color: #2C59AD;
}

.botao-inicio button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/*header*/



/*banner inicial*/

.banner-incial {
    padding: 40px 4%;
}

.img-banner-pc img {
    width: 100%;
    height: 630px;
}

/*banner inicial*/


/*destaque-industrias*/

.destaque-industrias {
    padding: 40px 4%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.destaque-industrias .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.destaque-industrias .flex  .escrita h2 {
    color: #2C59AD;
}

.destaque-industrias .flex .escrita p {
    margin-top: 10px;
}

.botao-industrias button {
    background-color: #2C59AD;
    margin-top: 20px;
}

.botao-industrias button a {
    color: white;
    text-decoration: none;
}

.botao-industrias button:hover {
    color: white;
    background-color: #2C59AD;
    cursor: pointer;
    transform: scale(1.05);
}

.img-industrias-pc img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
/*destaque-industrias*/

/*destaque-serviços*/

.destaque-serviços {
    padding: 40px 4%;
    background-color: #2C59AD;
    color: white;
}

.destaque-serviços .flex {
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.destaque-serviços .serviços-h2 h2 {
    margin-bottom: 10px;
}

.destaque-serviços .serviços-p p {
    margin-bottom: 10px;
}

.destaque-serviços .serviços-botao button a {
    text-decoration: none;
    color: #2C59AD;
}

.serviços-botao button:hover {
    color: #2C59AD;
    background-color: white;
    cursor: pointer;
    transform: scale(1.05);
}

.destaque-serviços .serviços-img img {
    width: 600px;
    margin-top: 30px;
}

/*destaque-serviços*/







/*footer*/

footer {
    padding: 40px 0%;
    background-color: black;
}

footer .flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu-footer ul li {
    list-style-type: none;
    text-decoration: none;
    margin-right: 1em;
}

.menu-footer ul li a {
    text-decoration: none;
    color: white;
}

footer hr {
    margin: 50px;
}

footer p {
    color: white;
    margin: 20px;
}